html {
  height: 100vh;
}

body {
  height: 500vh;
}

/* canvas {
} */

/* #tsparticles {
  position: absolute;
  width: 100vw;
  height: 100vh;
} */

#hero-lightpass {
  position: fixed;
  left: 50%;
  top: 50%;
  max-height: 100vh;
  max-width: 100vw;
  transform: translate(-50%, -50%);
}